.contacts{
	text-align: center;
	line-height: 1;
	p{
		font-family: $rl;
		font-size: 2em;
		
		line-height: 1;
	}
	.our_addres{
	   font-size: 1.5em;
		padding-top: 5%;
	}
	a{
		color:#000;
		font-size: 2.5em;
		display: block;
		
		
		b{
			padding-left: 1%;
		}
		.work_time{
		 padding-top:0;
		 line-height: 1;	
		}
	}
	.btn_contacts{
	background: #fff;
		border:1px solid red;
		border-radius: 5px;
		text-transform: uppercase;
		color:red;
		font-family: $rm;
		padding: 1% 2%;
	}
	addres{
		b{
		font-size: 1.5em;
		padding-top:0.5%;
		}
		p{
			padding-top: 0.4%;
		    font-size: 1em;
		}
	}
}
.any_questions{
margin-top: 6%;
}