.design{
    position: relative;
    margin-top: 10%;
	.design_h2{
		 font-family: $rl;
         color:#000;
         font-size: 2.1em;
		margin-bottom: 1.5em;
	}
}
.left {
	 position: relative;
	float: left;
	width: 30%;
	transition: 0.35s ease;
}
.design{
	.design_button_nav{
		display: none;
		text-transform: uppercase;
		background: red;
		font-family: $rb;
		font-size: 1.8em;
		text-align: center;
		line-height: 50px;
		border-radius: 50%;
		color: #fff;
		width: 50px;
		height: 50px;
		z-index: 500;
		top: -25px;
		transition: 0.35s ease;
		position: absolute;
		cursor: pointer;
		&:before{
			content: "";
			position: absolute;
			width: 60px;
			height: 60px;
			background: red;
			top: -5px;
			left: -5px;
			border-radius: 50%;
			opacity:0.2;
			z-index:-1;
			animation: blink_menu 1s ease infinite; 
		}
		&:after{
			@extend .design_button_nav:before;
			width:70px;
			height: 70px;
			top:-10px;
			left: -10px;
			animation: blink_menu 1s .2s ease infinite; 
		}
	}
}
@keyframes blink_menu{
	0%{opacity: 0;}
	50%{opacity: 0.3;}
	100%{opacity: 0.01;}
}

.right {
	width: 70%;
	float: right;
	overflow: hidden;
	.carousel-wrap {
		width: 100%;
		.slider_design {
			height: 100%;
			display: none;
			position: relative;
            .owl-dots{
                position: absolute;
                top:60%;
                left:45%;
                .owl-dot.active{
                    span{
                        background: red;  
                    }
                }
                .owl-dot{
                    span{border: 2px solid grey;}
                }
            }  
		}
	}
	.slider_content {
        .characteristics{
            padding-top: 30px;
            p{
                font-family: $rr;
            }
        }
    }
}

.owl-nav {
	color: red;
	font-size: 3em;
	z-index: 100;
	.owl-prev {
		position: absolute;
        background: url(/images/left_arrow.png)no-repeat!important;
		color: transparent;
		left: -100px;
		top: 35%;
		width: 100%;
		height:40%;
		background-size: 100%;
	}
	.owl-next {
		display: none;
		position: absolute;
		color: transparent;
		right: -15%;
		top: 35%;
		height: 40%;
		width: 10%;
		float: right;
		background-size: 100%;
        background-position: center;
        background:  url(/images/right_arrow.png)no-repeat!important;
	}
}


/*=== ACTIVE SLIDE ====*/

.active_slider_design {
	display: block!important;
}

.active_tabs_design {
	background: #ddd!important;
	border-left: 6px solid $red!important;
	color: $red!important;
}

.active_arrow_design {
	display: block!important;
}

.active_mobile_nav_panel{
    left: 2% !important;
}
.active_mobile_button_design{
	
	left: 48.8% !important;
}

/*====================*/

.left {
	ul {
		li {
			padding: 3%;
			background: $white;
			color: $grey;
			text-align: left;
            font-family: $rr;
            font-size: 1.5em;
            color: #333;
			cursor: pointer;
			position: relative;
            border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd;
			.side_arrow {
				position: absolute;
				width: 0;
				height: 0;
				border: 25px solid transparent;
				border-left-color: #ddd;
				right: -49px;
				top: 0;
				z-index: 100;
				display: none;
			}
		}
        li:nth-child(1){
            border-top:1px solid $grey;
        }
	}
    .form_caption{
        color:#363636;
        font-size: 1.7em;
        text-align: center;
        padding: 5%;
    }
    form{
		.design_hidden_input{
			visibility: hidden;
			height: 2px;
			width: 1px;
			padding:0;
		    margin:0;
			float:right;
		}
        .name{
            display: block;
            width: 79%;
            margin: 0 auto;
            border-radius: 5px;
            padding: 1.5% 4%;
            margin-bottom: 4%;
            background: #eeeeee;
        }
        .phone{
            @extend .name;
        }
        .btn_order{
            @extend .name;
            color: #000;
            font-family: $rcb;
            text-transform: uppercase;
            font-size: 1.5em;
            border: none;
            padding: 3% 2%;
            background: yellow;
            
          }
        p{
            font-family: $rr;
            font-size: 0.7em;
            text-align: center;
            span{
                color: $yellow;
                padding-left: 1%;
            }
        }
        
    }
}