.feedback{
   //margin-top: 0%;
    .feedback_caption{
            font-family: $rl;
            font-size: 2.1em;
            padding: 2% 0 4%;
            
    }
    .feedback_block_avatar{
            overflow: hidden;
            width:100px;
            height: 100px;
            margin-top:5%;
            border-radius: 50%;
            box-shadow: 2px 2px 5px #aaa;
    }
   
    .feedback_block_description{
        font-family: $rl;
        text-align: center;
        .client_name{
           font-family: $rb;
           font-size: 1.2em;
            margin-bottom: 4%;
        }
        
        .client_feedback{
            font-family: $rr;
            font-size: 1em;
            width: 60%;
            margin: 0 auto;
            line-height: 1.75;
            text-align: left;
        }
    }
    .owl-nav{
        
        .owl-prev{
           height: 50%;
           display: none;
           
        }
        .owl-next{
            @extend .owl-prev
        }
    }
    .owl-dots {
        .owl-dot.active {
            span {
                background: red !important;
            }
        }
        .owl-dot{
            span{border: 2px solid grey;}
                }
   }
}