.footer{
    p,a{
        font-size:0.88em;
        font-family: $rl;
    }
    p{
        color: #fff;
    }
    margin-top: 4%;
	background: #444444;
	border-top: 8px solid red;
    
	.footer_logo{
        margin: 6.5% 0 4.2%;
	}
    .copyright_footer{
         padding-bottom: 3%;
         display: block;
        }
    
    
	
    .footer_links{
        a{  
	      color:red;
	    }
        .footer_email{
            padding-top: 7%;
            text-align: center;
        }
        .requisites{
             padding-top: 6%;
             padding-bottom: 3%;;
            a{
             
            }
        }
    }
    .pay_sistems{
        float:right;
        img{
            margin: 10% 0 4%;
        }
        p{
            color:#fff;
            
        }
    }
	
}
/*---POPUP FOOTER --- */
#privacy_popup{
	.modal-dialog {
		width: 50%;
		.modal-header{
			button{
				float: left;
			}
		}
    }
    font-family: $rr;
    .h3{
        //display: inline-block;
        text-transform: uppercase;
        margin-left: 39px;
		display: block;
		float: left;
    }
    
    .modal-body{
         padding: 10px 20px;
        p{
            color: #000;
           
        }
        
    }
    
}
#requisites_popup{
    
}



/*-------------------*/