@media screen and (max-width: 800px){
	.content_wrapper{
		.owl-carousel {
			.owl-nav{
				display: none !important;
			}	
       }
	}
}
/*---- topline ----*/
@media screen and (min-width: 1232px){
	.topline-wrapper {
	    .nav-btn{
			position: fixed;
			top: 23px;
			left: 8%;
		}
	}
}
@media screen and (max-width: 1231px){
	.topline-wrapper {
	    .nav-btn{
			position: fixed;
			top: 21px;
			left: 10px;
		}
		.topline {
			width: 100%;
			.logo-header {
				margin-top: 8px;
				margin-left: 55px;
				img{
					width: 200px;
				}
             }
			.header-phone{
			  width: 16%;
			  margin-right: 20px;	
		 }	
	 }
  }
}
@media screen and (max-width: 940px){
	.topline {
		.logo-header {
			float: none;
			margin: 0 0 0 60px;
         }
		h1{
			display: block;
			text-align: center;
			width: 100%;
		}
		.header-phone{
			position: absolute;
			top: 10px;
			right: 10px;
			white-space: nowrap;
		 }	
      }
	}
@media screen and (max-width: 700px){
	.topline {
		.logo-header {
			float: none;
			margin: 0 0 0 60px;
         }
		h1{
			display: block;
			text-align: center;
			width: 100%;
		}
		.header-phone{	
			width: 50% !important;
		 }	
      }
}
@media screen and (max-width: 450px){
.topline {
		.logo-header {
		   float: none;
			margin-top: 6px !important;
			img{
			 width: 220px !important;
			}
         }
		h1{
			display: block;
			text-align: center;
			width: 100%;
			line-height: 1.1;
		}
		.header-phone{	
			width: 50% !important;
			top: 20px;
			margin-right: 5px !important;
			.phone-number {
				a{
					font-size:1.1em;
				}
            }
		 }
        .popup-nav{
          width: 80%;
        }
      }
}
@media screen and (max-width: 402px){
	.topline {
		.logo-header {
		   float: none;
			margin: 0 0 0 60px;
         }
		h1{
			display: block;
			text-align: center;
			width: 100%;
			line-height: 1.1;
		}
		.header-phone{
			position:static;
			float: left;
			width: 63% !important;
			margin-right: 5px !important;
			
		 }
        
      }
    
}
/*-- end top line --*/

/*----- header -----*/
@media screen and (max-width: 1129px){
	.header{
		.awards-block {
			//width: 85%;
			.col_award{
			
			}
   }
 }
}
@media screen and (max-width: 940px){
	.header{
		.awards-block {
			width: 100%;
   }
 }
}
@media screen and (max-width: 800px){
    .header{
        .header_banner{
            right:0;
             width: 375px;
			 height: auto;
            .garanty{
                font-size: 1.2em;
            }
                .banner_form{
                    .btn{
                       font-size: 1.2em;
                       margin-bottom: 0;
                    }
                    .security{
                        padding: 0;
                        clear: both;
                    }
                }
                
            
        }
    }
}
@media screen and (max-width: 500px){
    .header{
        .header_banner{
             right:0;
             width: 100%;
			 height: auto;
			 label{
				 font-size: 0.9em;
			}
        }
    }
}
@media screen and (max-width: 450px){
    .header{
        .header_banner{
             right:0;
             width: 100%;
			 height: auto;
			 label{
				 font-size: 0.7em;
			}
        }
    }
}
/*--- header end ---*/

/*------ reward ------*/
@media screen and (max-width: 1014px){
	.rewards_caption{
		padding-top: 1%;
	}
	.awards_section{
		margin: 15% 0;
	}
	.superiority_reward{
		h2{
			margin-top: 5%;
		}
	}
}
@media screen and (max-width: 551px){
	.superiority_reward_item{
		img{
			width: 50px;
		}
		p{
			font-size: 1em !important;
			padding-top: 13px !important;
		}
	}

}
@media screen and (max-width: 449px){
	.superiority_reward{
	.superiority_reward_item{
		img{
			width: 30px;
		}
		p{
			font-size: 0.9em !important;
			padding-top: 8px !important;
			margin-left: 10px;
		}
	}
  }
}
@media screen and (max-width: 393px){
	.superiority_reward{
	.superiority_reward_item{
		img{
			width: 30px;
		}
		p{
			font-size: 0.8em !important;
			padding-top: 8px !important;
			margin-left: 10px;
		}
	}
  }
}
@media screen and (max-width: 345px){
	.superiority_reward{
	.superiority_reward_item{
		img{
			width: 25px;
		}
		p{
			font-size: 0.7em !important;
			padding-top: 8px !important;
			margin-left: 6px;
		}
	}
  }
}
/*------- end --------*/




/*---top red line ---*/
@media screen and (max-width: 1472px){
	.year_section{
		.red-line{
			.cell{
				padding: 1px 6%;
				
			}
			.cell-6{
				.arrow.arrow-1{
					left: 60px !important;
				}
			}
		}
	}
}
@media screen and (max-width: 1284px){
	.year_section{
		
		.red-line{
			//width: 100%;
			margin-top: 17% !important;
			.cell{
				padding: 1px 6%;
			}
			.cell-2{
				padding-left: 7%;
			}
			.cell-1{
				.arrow-1{
					left: 65px;
				}
				.arrow-2{
					left: 75px;
				}
				.arrow-3{
					left: 85px;
				}
				.arrow-4{
					left: 95px;
				}
			}
		}
	}
}
@media screen and (max-width: 940px){
	.year_section{
		display: none;
		.red-line{
			width: 100%;
			.cell{
				padding: 1px 6%;
			}
			.cell-1{
				&:before{
				display: none;
				}
			}
			.cell-6{
				.arrow.arrow-1{
					display: none;
				}
			}
		}
	}
}
/*--- end top red line ---*/

/*---  disign ---*/
@media screen and (max-width: 1100px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 55%;
			   }
			}	 
		}
	}
    .left{
        ul{
            li{
                font-size: 1.3em;
            }
        }
    }
}
@media screen and (max-width: 727px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 50%;
			   }
			}	 
		}
	}
}
@media screen and (max-width: 650px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 45%;
				   left: 43%;	 
			   }
			}	 
		}
	}
}
@media screen and (max-width: 590px){
	.left{
		font-size: 0.7em;
	}
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 40%;
					 left:40%;
			   }
			}	 
		}
	}
}
@media screen and (max-width: 490px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 35%;
				   left:35%;
			   }
			}	 
		}
	}
}
@media screen and (max-width: 430px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 30%;
					 left:30%;
			   }
			}	 
		}
	}
}

@media screen and (max-width: 400px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 25%;
			   }
			}	 
		}
	}
}
@media screen and (max-width: 354px){
	.right{
		.carousel-wrap{
			.slider_design{
				 .owl-dots{
				   top: 22%;
			   }
			}	 
		}
	}
}
@media screen and (max-width: 992px){
	.design{
		.left{
			position: absolute;
			z-index: 100;
			left: -100%;
			top: 0;
			background: #fff;
			width: 50%;
			ul{
				li{
					.side_arrow{
						display: none!important;
					}
				}
			}
		}
		.right {
			width: 100%;
		}
	   .design_button_nav {
			display: block;
    }	
}

}
@media screen and (max-width: 644px){
	.design{
		.left{
			width: 80%;
			font-size: 0.6em;
	  }	
   }
	.active_mobile_button_disign{
	left: 78.8% !important;
  }
}
/*-- end disign --*/

/*-- consultation --*/
@media screen and (max-width: 986px){
	.consultation{
		label{
			font-size: 0.9em;;
		}
	}
}
@media screen and (max-width: 768px){
	.consultation{
		.name_consultation_block,
		.phone_consultation_block,
		.btn{
			padding: 2% 4%;
			font-size: 1.7em;
			margin-top: 5% !important;
		}
		.consult_checkbox{
			margin: 0 0 0 15px !important;
		}
		label{
			font-size: 1em;
		}
	}
}
@media screen and (max-width: 420px){
	
	.consultation{
		.name_consultation_block,
		.phone_consultation_block,
		.btn{
			padding: 2% 4%;
			font-size: 1.3em;
		}
		.btn{
			width: 95%;
			margin-top: 6% !important;
		}
		
		
	}
}
@media screen and (max-width: 395px){
	.consultation{
	form{
		label{
			font-size: 0.8em ;
		}
	}
	
 }
}
/*--- end ---*/

/*---smart ---- */
	@media screen and (max-width: 372px){
		.smart_mark{
			.superiority_block_section{
				h3{
					font-size: 0.8em;
				}
			}
		}
}

/*--- end -----*/

/* --- catalog ---*/
@media screen and (max-width: 1116px){
	.catalog{
	.form-section{
		.catalog_checkbox{
		
		}
		label{
			//font-size: 0.9em;
		}
        a{
            font-size: 0.5em;
        }
		
	}
  }
}
@media screen and (max-width: 992px){
    .catalog{
        .catalog_description{
            p{
                &:before{
                    display: none;
                }
            }
        }
    }
	.catalog{
		img{
			display: none;
		}
	}
	.form-section{
		.name,
		.email,
		.btn{
			padding: 2% 4%;
			font-size: 2.7em;
		}
		.btn{
			width: 90%;
			margin-top: 3.8%;
		}
		.catalog_checkbox{
			margin: 0 5px 0 30px !important;
			vertical-align: middle !important;
		}
		label{
		    font-size: 1.4em !important;
			vertical-align: middle !important;
		}
		
	}

}
@media screen and (max-width: 768px){
    
	.form-section{
		.name,
		.email,
		.btn{
			padding: 2% 4%;
			font-size: 2.4em;
		}
		.btn{
			width: 90%;
		}
        .catalog_checkbox{
            margin-left: 5px;
        }
        label{
            font-size: 1.2em!important;
        }
        a{display: block !important;
            font-size: 1.2em;
            margin-left: 5%;
            padding: 2% 0;
        }
		
	}

}
@media screen and (max-width: 546px){
	
	.form-section{
		.catalog_checkbox{
			margin: 0 5px 0 25px !important;
		}
		label{
			font-size: 1em !important;
		}
		
	}

}
@media screen and (max-width: 420px){
	
	.form-section{
		.name,
		.email,
		.btn{
			padding: 2% 4%;
			font-size: 1.5em;
		}
		.btn{
			width: 90%;
		}
		.catalog_checkbox{
			margin: 0 5px 0 20px !important;
		}
		label{
			font-size: 1em !important;
		}
		
	}
}
@media screen and (max-width: 394px){
	
	.form-section{
		
		.catalog_checkbox{
			margin: 0 5px 0 18px !important;
		}
		label{
			font-size: 0.9em !important;
		}
		
	}
}
@media screen and (max-width: 346px){
	
	.form-section{
		
		.catalog_checkbox{
			margin: 0 5px 0 14px !important;
		}
		label{
			font-size: 0.8em !important;
		}
		
	}
}
/*-- end catalog --*/

/*--- superiority --*/

@media screen and (max-width: 768px){
	.superiority{
		.superiority_block{
			margin-bottom: 6%;
		}
		
	}
}
/*----- end  ----*/

/*--- worktime ---*/
@media screen and (max-width: 992px){
	.worktime{
		.worktime_wrapper{
			.bottom_red_line{
				display: none;
			}
		}
	}
	
}
@media screen and (max-width: 1100px){
	.worktime{
		.worktime_wrapper{
			.bottom_red_line{
				height: 36px;
			}
		}
	}
	
}

/*- end worktime -*/
/*-- feedback --*/
@media screen and (max-width: 992px){
	.feedback{
		.owl-dots{
		  bottom: 0;
		  right: 45%;	
		}
	}
}
@media screen and (max-width: 700px){
    .feedback{
        .feedback_block_description{
            .client_feedback{
                width: 90%;
            }
        }
    }
    
}
/*---- end ----*/

/*-- FOOTER --*/
@media screen and (max-width: 1965px){
    .footer{
        .copyright_footer{
            padding-bottom: 0;
        }
        .footer_links{
            .requisites{
               display: flex;
				justify-content: center;
            }
        }
        .pay_col{
           
        }
    }
    
}
@media screen and (max-width: 992px){
    .footer{
        .copyright_footer{
            padding-bottom: 0;
        }
        .footer_links{
            .requisites{
               display: flex;
				justify-content: center;
				padding-top: 20px;
            }
        }
        .pay_col{
			p{
				font-size: 0.78em;
			}
        }
    }
    
}
@media screen and (max-width: 768px){
    .footer{
        position: relative;
        .copyright_footer{
            padding-bottom: 0;
        }
        .footer_logo{
          margin-top:35px;
          margin-bottom: 0px;   
        }
        .footer_links{
            text-align: center;
            .footer_email{
                display: inline-block;
                padding-top: 40px;
            }
            .requisites{
                display: inline-block;
                padding-top: 5%;
            }
        }
        .pay_col{
            position: absolute;
            top: 20px;;
            right: 10px;
        }
		#privacy_popup{
	       .modal-dialog{
			   width: 90%;
			}
		}
		#requisites_popup{
			.modal-body{
				height: 70vh;
			}
			button{
				float: left;
			}
        }
    }
}
@media screen and (max-width: 458px){
    .footer{
        .pay_col{
            .pay_sistems{
                display: none;
            }
        }
		.footer_links {
			.footer_email{
				padding-top: 15px;
			}
      }
    }
}
/*------------*/