.our_job{
    margin: 0.6% auto 5%;
    padding-top: 1%;
	//padding-bottom: 5%;
    h2{
        font-size: 2.1em;
        font-family: $rl;
        color: #000;
		margin: 10% 0 5% 0;
    }
	img{
		width: 100%;
	}
    .owl-nav{
        .owl-prev{
            display: none;
        }
        .owl-next{
            display: none;
        }
    }
}


