.reward{
   
    .rewards_caption{
      font-family: $rl;
      font-size: 2.1em;
        padding-top: 5%;
        text-align: left;
    }
	
    p{
        font-family: $rl;
        font-size: 1.2em;
        padding-top: 20px;
        text-align: left;
		span{
			padding: 5px;
		}
    }
    .counters-section{
        padding-top: 10px;
        color: #000;
        .counter{
            font-family: $rcb;
            font-size: 3em;
            text-align: center;
        }
        .description-counter{
            padding-top:0;
            font-family:$rcr;
            text-align: center
        }
    }
    
}

.awards_section{
    position: relative;
    margin: 12% 0 0;
    .awards-block{
	  display: table;
      position: absolute;
      bottom: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      z-index: 1000;
	  .col_award{
		  display: table-cell;  
	    }
      }
    }
.superiority_reward{
	h2{
		font-family: $rl;
		font-size: 2.1em;
		margin-bottom: 5%;
	}
	.superiority_reward_item{
		float: left;
		margin-bottom: 3%;
		img{
			float: left;
		}
		p{
			float: left;
            font-size: 1.2em;
			margin-left: 15px;
			padding-top: 35px;
            word-wrap:break-word;
		}
	}
}