.smart_mark{
	font-family: $rl;
    padding-top: 5%;
	h2{
		font-size: 2em;
		padding-bottom: 3%;
	}
	p{
		font-size: 1.2em;
		padding-top: 0;
        padding-bottom: 2%;
	}
	.superiority_block_section{
		h3{
			padding-bottom: 5px;
		}
		a{
			margin-bottom: 25px;
			display: block;
		}
	}
}