.smart_mark{
	font-family: $rl;
    padding: 1.5% 0 2%;
	h2{
		font-size: 2em;
		padding-bottom: 3%;
	}
	p{
		font-size: 1.1em;
		padding-top: 0;
        padding-bottom: 2%;
	}
	h3{
		font-size: 1.5em;
		margin-top: 1em;
		padding-bottom: 1em;
	}
	.superiority_block_section{
		h4{
			padding-bottom: 5px;
			font-size: 1.2em;
			span{
			padding: 0 5px;
			
			}
		}
		img{
			width: 100%;
		}
		a{
			margin-bottom: 25px;
			display: block;
		}
	}
}