.unique{
    background: url(/images/unique_bg.png)no-repeat;
    margin-top: 5%;
    padding-top: 3%;
}

.unique_description{
    font-family: $rr;
    color: #000;
    text-align: left;
    h2{
        
        padding-bottom: 3%;
        font-size: 2em;
        
    }
    p{
       padding-top: 0;
        padding-bottom: 2%;
        font-size: 1.2em;
    }
}
.slider_unique_section{
    margin-top:5%;
    
}
.unique{
    .owl-nav{
       
        .owl-prev{
          width: 30%; 
          top: 50%;
          left:0;
        }
        .owl-next{
          width: 6%;
          top: 50%;
          right:10%;
            float:right;
        }
        
    }
    .owl-dots{
        display: none;
    }
}