.unique{
    background: url(/images/bg-grey.png)repeat;
	position: relative;
    margin-top: 5%;
    padding: 1.5% 0;
    width: 100%;
	&:before{
		content:"";
		position: absolute;
		display:block;
		background:url(/images/zabor.png) repeat-x;
		height: 15px;
		width: 100%;
		top: -10px;	
	}
	&:after{
		content:"";
		position: absolute;
		display:block;
		background:url(/images/zabor2.png) repeat-x;
		height: 20px;
		width: 100%;
		bottom: -15px;	
	}
}

.unique_description{
    font-family: $rl;
    color: #000;
    text-align: left;
    h2{
        
        padding-bottom: 3%;
        font-size: 2.1em;
        
    }
    p{
       padding-top: 0;
        padding-bottom: 2%;
        font-size: 1.2em;
        font-family: $rr;
    }
}
.slider_unique_section{
    margin-top:5%;
    width: 100%;
    
    
}
.unique{
    .owl-nav{
        .owl-prev{
          width: 30%; 
          top: 50%;
          left:0;
        }
        .owl-next{
          width: 6%;
          top: 50%;
          right:0%;
           float:right;
        }
        
    }
    .owl-dots{
        display: none;
    }
}