/*=== FONT VARIABLES ===*/

$rl: "RobotoLight";
$rr: "RobotoRegular";
$rm: "RobotoMedium";
$rb: "RobotoBold";
$rcl: "RobotoCondensedLight";
$rcr: "RobotoCondensedRegular";
$rcb: "RobotoCondensedBold";

/*======== END ========*/


/*==== COLOR VARIABLES ====*/

$white: #fff;
$grey: #aaa;
$red: #d00;

/*========= END ==========*/