/*=== FONT VARIABLES ===*/

$rl: "RobotoLight";
$rr: "RobotoRegular";
$rm: "RobotoMedium";
$rb: "RobotoBold";
$rcr: "RobotoCondensedRegular";
$rcb: "RobotoCondensedBold";

/*======== END ========*/


/*==== COLOR VARIABLES ====*/

$white: #fff;
$grey: #aaa;
$red: #dd011d;
$yellow: #ffd800;  
$yellow_dark: #f5b138;

/*========= END ==========*/

.red {
	color: red;
}

.resp{
    max-width: 100%;
    height: auto;
}
.no-padding{
    padding:0!important;
}
.small-padding{
    padding: 0 0.5px !important;
}
.medium-padding{
	padding: 2px !important;
}
.hidden_block{
	opacity:0;
	
}
.visible_block{
	animation: opac 1s ease forwards;
}
@keyframes opac{
	0%{opacity: 0;}
	100%{opacity: 1;}
}