.worktime{
    padding-top: 2%;
    .description_worktime{
        h2{
            font-family: $rl;
            font-size: 2.1em;
            color: #000;
        }
        h3{
            font-size: 1.4em;
            padding-top: 6%;
            text-align: center;
        }
         p:nth-child(5){
           &:after{
              display: none;
          }  
      }
    }
	
}

    
    
   p.p_desription_worktime{
	    font-size: 1em;
	    background: red;
	    font-family: $rl;
        text-align: center;
        display: block;
        padding: 3%;
        position: relative;
	    color: #fff;
	   overflow: hidden;
        &:after{
            content:"";
            position: absolute;
            width: 40%;
            height: 100%;
            border: 4px solid transparent;
            border-top: 7px solid #fff;
            transform: rotate(70deg);
			z-index: 100;
			right: -35px;
        }
        
    }
   
      
