.worktime_wrapper{
	width: 100%;
	position: relative;
	.bottom_red_line{
		position: absolute;
		height: 37px;
		width: 100%;
		bottom: 0;
		background: red;
		z-index: -1;
	}
}
.worktime{
    padding-top: 1.5%;
	img{
		width: 100%;
	}
    .description_worktime{
        h2{
            font-family: $rl;
            font-size: 2.1em;
            color: #000;
			padding-bottom: 2%
        }
       
      
    }
	
}
   h3.worktime_h3{
            font-size: 1.4em;
            padding: 2% 0 2%;
            text-align: center;
        }

   p.p_desription_worktime{
	    font-size: 1em;
	    background: red;
	    font-family: $rl;
        text-align: center;
        display: block;
        padding: 3%;
	    margin-top: 2px;
        position: relative;
	    color: #fff;
	    &:after{
			content: "";
			position: absolute;
			border: none;
			width: 1px;
			height: 100%;
			background: #fff;
			right: -1px;
			top: -1px;
			
	   }
    }
.worktime_wrapper {
	.descripton_last{
		&:after{
			display: none;
		}
	}
}
 
   

