.worktime{
    padding-top: 2%;
    .description_worktime{
        h2{
            font-family: $rl;
            font-size: 2.1em;
            color: #000;
        }
        h3{
            font-size: 1.4em;
            padding-top: 6%;
            text-align: center;
        }
         p:nth-child(5){
           &:after{
              display: none;
          }  
      }
    }
	
}

    
    
   p.p_desription_worktime{
	    font-size: 1em;
	    background: red;
	    font-family: $rl;
        text-align: center;
        display: block;
        padding: 3%;
        position: relative;
	    color: #fff;
	   overflow: hidden;      
    }
   

