.year_section{
background: red;
	width: 100%;
}
/*===== RED ARROW =====*/
.red-line{
  width: 60%;
  margin: 10px auto;
  height: 40px;
  display: table;
    //display: flex;
  background:red;
  overflow: hidden;
	
  .cell{
    display: table-cell;
    //width: 16.666666%;
    padding: 1px 5%;
      text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
	
   .arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 7px solid #fff;
    transform: rotate(45deg);
    border-left-color:transparent;
    border-bottom-color: transparent; 
	   z-index: 500;
  }
	 
 }
	.cell-1{
	
		&:before{
		content: "";
		position: absolute;
			width: 50px;height: 50px;
			border: 7px solid #fff;
            transform: rotate(45deg);
            border-left-color:transparent;
            border-bottom-color: transparent;   
			top:-5px;
			left:-20%;
		}
	}
	.cell-1{
	
	}	
  .cell-2{
    
  }
	
  .cell-3{
    
     
  }
	.cell-4{
      
	}
	.cell-5{
        
	}
  .cell-6{
   
  }
}

.cell-1{
  @for $i from 1 through 4{   
    .arrow-#{$i}{
        left: 70px+ $i*12px;
        top:-5px;
    }
  }
}
.cell-2{
   @for $i from 1 through 2{   
    .arrow-#{$i}{
        left: 70px+ $i*12px;
        top:-5px;
    }
  }
}
.cell-3{
  @for $i from 1 through 2{   
    .arrow-#{$i}{
        left: 70px+ $i*6px;
        top:-5px;
    }
  }
}
.cell-5{
  @for $i from 1 through 2{   
    .arrow-#{$i}{
        left: 70px+ $i*6px;
        top:-5px;
    }
  }
}
.cell-6{
  @for $i from 1 through 1{   
    .arrow-#{$i}{
        left: 80px+$i;
        top:-5px;
    }
  }
}
/*===== END OF RED ARROW =====*/