.left {
	float: left;
	width: 30%;
}

.right {
	width: 70%;
	float: right;
	.car-wrap {
		width: 100%;
		.slider_design {
			height: 100%;
			display: none;
			position: relative;
			.items {}
		}
	}
	.slider_content {
		display: none;
	}
}

.owl-nav {
	color: red;
	font-size: 3em;
	z-index" 100;
 position: absolute;
	.owl-prev {
		position: absolute;
		left: 0;
		top: 50%;
	}
	.owl-next {
		position: absolute;
		right: 0;
		top: 50%;
	}
}


/*=== ACTIVE SLIDE ====*/

.active_slider_design {
	display: block!important;
}


/*====================*/

.left {
	ul {
		li {
			//margin-bottom: 20px;
			padding: 20px;
			background: #aaa;
			color: #fff;
			text-align: center;
			cursor: pointer;
			//transition: .2s ease;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border: 30px solid transparent;
				border-left-color: #aaa;
				right: -60px;
				top: 0;
				z-index: 100;
				//transition: .2s ease;
				display: none;
			}
			&:hover {
				background: #555;
			}
			&:hover:after {
				display: block;
				border-left-color: #555;
			}
		}
	}
}